.taskContainer__container {
    margin: 0.3rem 1rem;
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    gap: 1rem;
}

.taskContainer__main-info {
    display: flex;
    justify-content: space-between;
}

.taskContainer__options {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}

.taskContainer__container.light {
    background-color: var(--light-very-light-gray);
}   

.taskContainer__container.dark {
    background-color: var(--dark-very-dark-desaturated-blue);
}