.taskContainer__container {
    padding: 0.3rem 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.taskContainer__main-info {
    display: flex;
    justify-content: space-between;
}

.taskContainer__options {
    display: flex;
    gap: 0.8rem;
    justify-content: center;
}