.task__container {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    padding: 1.2rem 0.5rem 1.2rem 0.5rem;
    border-bottom: 1px solid var(--light-very-light-grayish-blue);
}

.dark-container {
    border-bottom: 1px solid var(--dark-dark-grayish-blue);
}

.task__check-container {
    width: 1.2rem;
    height: 1.2rem;
    border-radius: 50%;
    border: 1px solid var(--light-light-grayish-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.task__check-container.dark {
    border: 1px solid var(--dark-dark-grayish-blue);
}


.task__check-image {
    height: 0.6rem;
    display: none;
}

.task__check-image.show {
    display: block;
}

.task__container p {
    flex: 2;
    font-size: 0.8rem;
    cursor: pointer;
}

.task__cross-icon {
    width: 0.8rem;
    cursor: pointer;
}

/* done styles */

.done .task__check-container{
    pointer-events: none;
}

.done .task__check-container {
    background-image: var(--primary-check-background);
}

.dark-font {
    color: var(--dark-light-grayish-blue-2);
}

.light-font {
    color: var(--light-very-dark-grayish-blue);
}

.done .dark-font {
    color: var(--dark-dark-grayish-blue);
    text-decoration: line-through;
}

.done .light-font {
    color: var(--light-very-light-grayish-blue);
    text-decoration: line-through;
}

.darkIcon {
    filter: invert(100%) sepia(93%) saturate(437%) hue-rotate(141deg) brightness(160%) contrast(20%);
}


